networks:
  monitoring:

volumes:
  influxdb-data:
  grafana-storage:
  # prometheus-data:
    driver: local

services:
  # otel-collector:
  #   image: otel/opentelemetry-collector:0.95.0
  #   command: ["--config=/etc/otel-collector-config.yaml"]
  #   volumes:
  #     - ./config/otel-collector-config.yaml:/etc/otel-collector-config.yaml
  #   ports:
  #     - "8888:8888" 
  #     - "8889:8889" 
  #     - "13133:13133"
  #     - "4317:4317"
  #   restart: unless-stopped
  #   networks:
  #     - monitoring
  # prometheus:
  #   image: prom/prometheus:latest
  #   container_name: prometheus
  #   ports:
  #     - 9090:9090
  #   command:
  #     - '--config.file=/etc/prometheus/prometheus.yaml'
  #   volumes:
  #     - ./config/prometheus.yaml:/etc/prometheus/prometheus.yaml
  #     - prometheus-data:/prometheus
  #   restart: unless-stopped
  #   networks:
  #     - monitoring
  # restapitest:
  #   image: restapitest
  #   build:
  #     context: .
  #     dockerfile: Rest-Api-Test/Rest-Api-Test/Dockerfile
  #   ports:
  #     - 5213:5213
  loki:
    image: grafana/loki:2.9.4
    ports:
      - "3100:3100"
    command: -config.file=/etc/loki/local-config.yaml
    networks:
      - monitoring

  promtail:
    image: grafana/promtail:2.9.4
    volumes:
      - ./config/promtail-config.yml:/etc/promtail/config.yml
      - D:/data/fbb-integ/onlinequery:/app/logs:ro 
      # - /var/log:/var/log
    command: -config.file=/etc/promtail/config.yml
    networks:
      - monitoring

  influxdb:
    image: influxdb:1.8
    container_name: influxdb
    ports:
      - "8086:8086"
    environment:
      - INFLUXDB_DB=k6
      - INFLUXDB_USER=k6
      - INFLUXDB_USER_PASSWORD=k6password
      - INFLUXDB_ADMIN_USER=admin
      - INFLUXDB_ADMIN_PASSWORD=adminpassword
    volumes:
      - influxdb-data:/var/lib/influxdb
    networks:
      - monitoring

  grafana:
    environment:
      - GF_PATHS_PROVISIONING=/etc/grafana/provisioning
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_AUTH_ANONYMOUS_ORG_ROLE=Admin
    volumes:
      - grafana-storage:/var/lib/grafana
    depends_on:
      - influxdb    
    image: grafana/grafana:latest
    ports:
      - "3000:3000"
    networks:
      - monitoring

  k6:
    image: grafana/k6
    entrypoint: ["sh", "-c", "sleep infinity"] #ตั้งค่าให้ k6 sleep ไว้ เพื่อให้สามารถรัน คำสั่ง load test ได้เรื่อยๆ
    #command: run --out influxdb=http://influxdb:8086/k6 /scripts/k6-script.js
    volumes:
      - ./scripts:/scripts
    networks:
      - monitoring
    extra_hosts:
      - "host.docker.internal:host-gateway"
